@charset "UTF-8";
* {
    font-family: "游ゴシック体";
}

body {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.container {
    line-height: 1.5;
    /* max-width: 1152px; */
    height: 100%;
    width: 100%;
}

/* widthこっちやと都合悪いΣ(-᷅_-᷄๑) */

header {
    padding: 5% 0 0;
    width: 100%;
    margin: auto 0;
    /* display: flex; */
    /* justify-content: space-between; */
}

ul {
    margin: 0 65px 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    padding-left: 15px;
    font-size: 25px;
}

.main {
    width: 100%;
}

.all {
    width: 100%;
}

.header-l {
    position: absolute;
    width: 30%;
    z-index: 2;
    margin-right: 10%;
    margin-top: -9%;
}

.header-l img {
    width: 60%;
}

.header-r {
    position: absolute;
    z-index: 2;
    width: 40%;
    margin-top: -17.7%;
    margin-left: 55%;
}

.header-r img {
    width: 100%;
}

.special {
    position: relative;
    z-index: 1;
    width: 80%;
    margin-left: 10%;
}

.special img {
    width: 100%;
}

.special1 {
    display: none;
}

.header-2 {
    display: none;
}

.main-f {
    margin-left: 5%;
}

/* ヤバイ！明日琉大潜入やった(・∀・)早く寝ろ私！ */

.main-font {
    /* overflow: hidden; */
    font-size: 25px;
    text-align: left;
}

.font {
    display: none;
}

h1 {
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 40px;
    /* text-align: center; */
}

aside {
    margin: 0 auto;
}

.article {
    margin: 0 auto;
    width: 84%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article1 {
    width: 30%;
    height: 50%;
    margin: 10px;
    /* padding: 0 10px; */
}

.article1 img {
    width: 100%;
    height: 50%;
}

.article1:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px gray;
}

.article1 p {
    font-size: 19px;
    text-align: left;
    padding: 0 10px;
}

.day {
    margin: 5px 0;
}

.p-right p {
    margin-left: 60%;
    text-align: right;
}

.read {
    margin-top: 8%;
    position: relative;
}

.read::after {
    background-color: black;
    bottom: -10px;
    content: '';
    /* display: inline-block; */
    height: 1px;
    width: 20px;
    left: 80%;
    position: absolute;
    transition: .5s all;
}
.read:hover::after {
    width: 70%;
    left: 20%;
}

.footer {
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
}

@media screen and (max-width: 767px) {
    body {
        width: 100%;
        margin: 0 auto;
    }
    .top {
        width: 100%;
        margin: 0 auto;
    }
    .header-l {
        width: 100%;
        top: 3%;
        /* height: 50vh; */
    }
    .header-l img {
        width: 35%;
    }
    /* レスポンシブのやつできない(´；ω；`) */
    /* 明日いさむ氏に頼もう_(:3 」∠)_ */
    ul {
        display: none;
    }
    main {
        width: 100%;
        margin: 0 auto;
    }
    .special {
        display: none;
    }
    .special1 {
        display: block !important;
        position: relative;
        z-index: 1;
    }
    .special1 img {
        display: block;
        width: 100%;
        margin-top: 33%;
    }
    .header-r {
        display: none;
    }
    .header-2 {
        display: block !important;
        position: absolute;
        z-index: 2;
        width: 40%;
        margin-top: 5%;
        margin-left: 5%;
    }
    .header-2 img {
        width: 100%;
    }
    .article1 {
        width: 767px;
        overflow: hidden;
    }
    .article1 p {
        /* text-align: left; */
        margin-left: 30%;
        width: 100%;
    }
    .p-right {
        margin-left: 35%;
    }
    .article1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .article img {
        width: 100%;
        height: auto;
    }
    .font {
        display: block;
    }
    .main-font {
        text-align: center;
    }
    h1 {
        font-size: 50px;
    }
}

@media screen and(min-width:768px) {}

/*  */